.container{
    margin:0;
    padding:0;
    text-decoration:none

}
nav{
    background-color:rgb(255, 255, 255);
    height:90px;
    width:100%;
    box-shadow:10px 5px 5px 1px rgb(235, 235, 235);
    position:fixed;
    top:0;
    z-index:2;
}

label.logo{
    color:#D65282;
    font-size: 30px;
    position:absolute;
    top:20%;
    font-family: monospace;
    font-weight: bolder;
}
.logoImage{
    width:50px;
    height:70px;
    
}
nav ul{
    float:right;
    margin-right:20px;
    
}

nav ul li a {
    color:#D65282;
    font-size:1.2rem;
    border-radius: 3px;
    transition: 0.5s;
    position: relative;
    bottom:15px;
    text-decoration:none;
}
nav ul li:hover{
    
    background-color:#D65282;
    color:white
}
nav ul li:hover a{
    color:white
}


nav ul li{
    transition: 2s;
    width:80px;
    height:50px;
    color:white;
    border:1px solid #D65282;
    border-radius: 5px;
    display: inline-block;
    line-height: 80px;
    margin:0;
    margin-right:50px;
    margin-top:5px;
    text-align: center;

}

.checkbtn{
    font-size:31px;
    color:#D65282;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
#check{
    display:none;
}
@media (max-width:900px){
    label.logo{
        font-size: 31px;
        padding-left:10px;
        margin-top:0;

    }
    
    
    nav ul li a {
        font-size: 1rem;
        position: relative;
        bottom:5px;
    }

        
    .checkbtn{
        display:block;

    }
    ul{
        position: fixed;
        width:90%;
        height:20vh;
        top:78px;
        left:-100%;
        text-align: center;
        transition: all 0.5s;
        background-color: rgb(236, 236, 236);
        box-shadow:10px 5px 5px 1px rgb(235, 235, 235);
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
    nav ul li{
        display:inline-block;
        margin:0;
        line-height: 41px;
        width: 30%;
        margin-right: 10px;
        border:1px solid #D65282;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    nav ul li a{
        font-size: 20px;
        color:#D65282

    }
    
    #check:checked~ul{
        left:0;

    }
}


