.chatContainer{
    width:100%;
    height:100vh;
    margin:0px;
    padding:0px;
    
    background-color:rgb(218, 218, 218);
    background-color: #D65282;
    display: flex;
    align-items: flex-start;

}


.chatContainer .chatscreen{
    width:50%;
    position: relative;
    border-radius: 20px;
    
    
}


/*chat Ui screen */

.chatContainer .profile{
    width:20%;
    background-color: #4b2935;
    height:60vh;
    padding-top: 10px;
    box-sizing: border-box;
   
    margin-right:2px;
    border-radius: 10px;
    text-align: center;
    
}
.profile .userpic{
    width:50px;
    height:50px;
    border-radius:50px;
    margin-bottom: 0px;
    margin-left:auto;
    margin-right: auto;
    border:5px solid #D65282; 
    font-family: serif;
}

#checks{
    display: none;
}
.profile .username{
    color:white;
    font-weight:500;
    font-size:15px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.profile .menu{
    list-style-type: none;
    text-align: left;
    padding-left:0px;
    margin-left: -10px;

}

.profile .menu li{
    width:60%;
    height:50px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #D65282;
    color:white
    

}
.profile .menu li:hover{
    background-color: #bd889c;
    color:rgb(99, 99, 99);
    transition: 4s;
    

}
.menuIcon{
    display:none
}
.chatContainer .chatscreen    .chatHeader{
    display: flex;
    height:15vh;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index:3;
    position:absolute;
    width:100%;
    top:0px
}
.chatContainer .chatscreen    .chatHeader .userpic{
    width:50px;
    height:50px;
    border:5px solid #D65282; 
    border-radius: 50px;
    
}
.chatheaderleft{
    display:flex;
    align-items: center;
    width:80%;
}

.chatheaderright{
    width:20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.circularIcon{
    background-color:rgb(218, 218, 218);
    width:50px;
    height:50px;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.clientcontainer{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    width:100%;

}
.clientcontainer  .clientname{
    color:#D65282;
    font-family: monospace;
    font-weight:900;
    font-size: 20px;
    margin-top:19px;
    margin-bottom: 0px;
}

.clientcontainer  .clientstatus{

    margin-top:0px;
    color:rgb(40, 218, 40);
    display: block;
    font-weight: 900;
}


.chatinputcontainer{
    
    height:10vh;
    position: absolute;
    top:90vh;
    display: flex;
    align-items: center;
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-around;
    background-color: white;
    border-radius: 5px;
    z-index: 2;


}
.chatinput{
    border:none;
    height:80%;
    width:75%;
    
    border-radius:5px;

}
.chatinputbutton{
    background-color: rgb(197, 197, 197);
    width:15%;
    height:90%;
    border-radius: 10px;
    border: none;
    margin-top: 0px;
}
/* the main chat screen*/
.mainchat{
    z-index: 1;
    height:80vh;
    width:103%;
    margin-top:-10px;
    padding-top: 20px;
    display: block;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #4b2935;
    
  

}
.chats{
    padding: 10px;
    
    display:flex;
    border-radius: 10px;
    flex-direction:row;
    justify-content: start;
    margin-bottom: 20px;
    width:100%;


}
.chats .message{
    background-color:rgb(226, 226, 226);
    display: flex;
    padding-right:15px;
    
    padding-left:15px;
    border-top-right-radius:10px;
    
    border-bottom-left-radius:10px;
    padding-top:2px;
    padding-bottom: 2px;
    max-width: 200px;
    flex-direction: column;
}

.chats .message .user{
    align-self: flex-start;
    color:#D65282;
    font-size: 15px;
    font-family: monospace;
    font-weight: 900;

}
.chats .message .text{
    align-self: flex-start;
    color:grey;
    font-size: 15px;
    font-family: monospace;
    font-weight: 900;

}

.chats .message  .time{
    align-self: flex-end;
    color:grey;
    font-family: monospace;
    font-weight: 700;

}


.mychats{
    padding: 20px;
    
    display:flex;
    border-radius: 10px;
    flex-direction:row;
    justify-content:flex-end;
    margin-bottom: 20px;
    width:100%;
    margin-right: 5px;
    padding-right: 10px;


}
.mychats .message{
    background-color:#D65282;
    display: flex;
    padding-right:15px;
    
    padding-left:15px;
    border-top-left-radius:10px;
    
    border-bottom-right-radius:10px;
    padding-top:2px;
    padding-bottom: 2px;
    max-width: 200px;
    flex-direction: column;
    
    margin-right: 30px;
}

.mychats .message .user{
    align-self: flex-start;
    color:white;
    font-size: 15px;
    font-family: monospace;
    font-weight: 900;

}
.mychats .message .text{
    align-self: flex-start;
    color:white;
    font-size: 15px;
    font-family: monospace;
    font-weight: 900;

}

.mychats .message  .time{
    align-self: flex-end;
    color:white;
    font-family: monospace;
    font-weight: 700;

}









.checkbtn{
    font-size:31px;
    color:#D65282;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}


.smallscreenmenu{
   display: none;
}


/* for mobile screen */
@media(max-width:900px) {
    .chatContainer{
        width:100%;
        height:100vh;
        margin:0px;
        padding:0px;
        margin-top: -3%;
        display:block
    }
    
    .chatContainer .profile{
        display:none
    }
    .chatContainer .chatscreen {
        width: 100%;
        text-align: center;
    }
    .chatContainer .chatscreen    .chatHeader{
        display: flex;
        height:15vh;
        width:100%;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        z-index:3;
        position: fixed;
    }
    .chatContainer .chatscreen    .chatHeader .userpic{
        width:50px;
        height:50px;
        
        border:5px solid #D65282; 
        border-radius: 50px;
    }
    .chatheaderleft{
    
        display:flex;
        align-items: center;
        width:40%;
        
    }
    
    .menuIcon{
        display:block
    }
    .clientcontainer{
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        width:20%;
    
    }
    .clientcontainer  .clientname{
        color:#D65282;
        font-family: monospace;
        font-weight:900;
        font-size: 20px;
        margin-top:19px;
        margin-bottom: 0px;
    }
    
    .clientcontainer  .clientstatus{
    
        margin-top:0px;
        color:rgb(40, 218, 40);
        display: block;
        font-weight: 900;
    }
    
  
    


    .chatheaderright{
        width:35%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .circularIcon{
        background-color:rgb(218, 218, 218);
        width:50px;
        height:50px;
        border-radius: 50px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .chatinputcontainer{
        
        height:10vh;
        position: absolute;
        top:91vh;
        display: flex;
        align-items: center;
        width:100%;
        margin:0% auto 0% auto;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-around;
        background-color: white;
        border-radius: 5px;
        z-index: 2;


    }
    .chatinput{
        border:none;
        height:80%;
        width:75%;
        
        border-radius:5px;

    }
    .chatinputbutton{
        background-color: rgb(197, 197, 197);
        width:15%;
        height:90%;
        border-radius: 10px;
        border: none;
        margin-top: 0px;
    }
    /* the main chat screen*/
    .mainchat{
        z-index: 1;
        height:80vh;
        width:100%;
        margin-top:-10px;
        padding:10px;
        padding-top: 20px;
        display: block;
        flex-direction: column;
        overflow-y: scroll;

    }
    .chats{
        padding: 10px;
        
        display:flex;
        border-radius: 10px;
        flex-direction:row;
        justify-content: start;
        margin-bottom: 20px;
        width:100%;
    
    
    }
    .chats .message{
        background-color:rgb(226, 226, 226);
        display: flex;
        padding-right:15px;
        
        padding-left:15px;
        border-top-right-radius:10px;
        
        border-bottom-left-radius:10px;
        padding-top:2px;
        padding-bottom: 2px;
        max-width: 200px;
        flex-direction: column;
    }
    
    .chats .message .user{
        align-self: flex-start;
        color:#D65282;
        font-size: 15px;
        font-family: monospace;
        font-weight: 900;
    
    }
    .chats .message .text{
        align-self: flex-start;
        color:grey;
        font-size: 15px;
        font-family: monospace;
        font-weight: 900;
    
    }
    
    .chats .message  .time{
        align-self: flex-end;
        color:grey;
        font-family: monospace;
        font-weight: 700;
    
    }
    
    
    .mychats{
        padding: 20px;
        
        display:flex;
        border-radius: 10px;
        flex-direction:row;
        justify-content:flex-end;
        margin-bottom: 20px;
        width:100%;
        margin-right: 5px;
        padding-right: 10px;
    
    
    }
    .mychats .message{
        background-color:#D65282;
        display: flex;
        padding-right:15px;
        
        padding-left:15px;
        border-top-left-radius:10px;
        
        border-bottom-right-radius:10px;
        padding-top:2px;
        padding-bottom: 2px;
        max-width: 200px;
        margin-right: 30px;
        flex-direction: column;
    }
    
    .mychats .message .user{
        align-self: flex-start;
        color:white;
        font-size: 15px;
        font-family: monospace;
        font-weight: 900;
    
    }
    .mychats .message .text{
        align-self: flex-start;
        color:white;
        font-size: 15px;
        font-family: monospace;
        font-weight: 900;
    
    }
    
    .mychats .message  .time{
        align-self: flex-end;
        color:white;
        font-family: monospace;
        font-weight: 700;
    
    }
    
    
    
    
    
    

    #checks{
        display: none;
    }
    .smallscreenmenu{
        width:300px;
        height:40vh;
        position:absolute;
        background-color:#D65282;
        top:95px;
        left:-100%;
        display: flex;
        transition:3s;
        border-radius: 10px;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        border-top-right-radius: 0%;
        text-align: center;
        flex-direction:column;
     }
     .smallscreenmenu li{
         width:50%;
         margin:5% auto 5% auto;
         display:flex;
         
        background-color: rgb(218, 218, 218);
         height:200px;
         border-radius: 5px;
         color:#4b2935;
         font-weight: 700;
         align-items: center;
         justify-content: center;
         cursor: pointer;
        

     }
    
     

    #checks:checked~.smallscreenmenu{
       
        left:1px;
        transition:3s;
        

    }
    
    
    
}
