
body {
    
    width:100%;
    background-color: rgb(250, 250, 250);
    font-family: Roboto;
    overflow-x: hidden;
}


.about1,.about2,.about3{
    flex-direction:row;
    justify-content:space-between;
    margin-top: 5%;
    display: flex;
    
    margin:30px auto 30px auto;
    text-align:center;
}
.testimonial{
    display: flex;
    flex-direction: row;

}
.testimonialSection{
    background-color: rgb(228, 227, 227);
    padding-top: 20px;
    padding-bottom:20px;
 
  /*background: -moz-linear-gradient(white,rgb(228, 227, 227),white); 
  <div className ='chatIcon'>
    <FontAwesomeIcon icon={faFacebookMessenger} style={{
      color:'rgb(221, 94, 116)',
      fontSize:70,
     
      zIndex:2,
    }}/>
    
    <!--<ABoutCard
     imageUrl='animatedcoder.gif'
     imageStyle={{width:'500px',height:'300px',marginTop:'0%',marginRight:'auto',marginLeft:'auto',alignSelf:'center'}}
     title="What we do" 
     contentBottom="we build all kind of web applications from ecommerce web apps,banking apps,crypto trading applications.Any kind of web application you can think of ,we got your back!.">
    
    
    
    </ABoutCard >-->
    
  </div>*/
  
  

}
.storeButtonCon{
    width:'90%';
    display:'flex';
    text-align:'center';justify-content:'space-around';
    margin-top:'5%';
    
}
.appleButton{
    margin-top:15px;
    margin-bottom:20px;
    margin-right:2px;
    margin-left:5px;
    width:40%;


}
.testimony{
    display:flex;
    justify-content: space-around;
}


/*

@media(max-width:900px) {

   
    .testimonial{
        display:block;
        color:rgb(221, 94, 116)

        
    }
    .chatIcon{
        position:fixed;
        top:78%;
        left:85%;
        z-index:2;
    
    }
    
    
    
}
*/
/*footer */

.map{
    width:50%;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px;
}
.contact{
    width:50%;
    height:50vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact .input{
    margin-top:50px;
    display:flex;
    justify-content: center;
}
.contact .input input{
    width:230px;
    height:5vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contact .input button{
    height:6vh;
    width:100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:none;
    background-color:#723e4f;

}
.social{
    display:flex;
    justify-content:space-around;
    padding:50px;
    box-sizing: border-box;
    padding-bottom:5px;

}

.social:nth-of-type(2){
    
    padding:20px;
    padding-top:0px;
}
.wrapper{
    width:50px;
    height:50px;
    border:10px solid #723e4f;
    border-radius:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper p{
    font-size:40px;
    font-weight: 900;
}

.biz,.twitter,.facebook{
    color:#723e4f;


}

/*contact me*/

/* responsiveness */
.contactMe{
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 20px;

}
.email,.phone{
    display:flex;
    width:50%;
    justify-content: space-around;
}
.myEmail,.myNumber{
    font-weight: 900;
    font-family: monospace;
    color:#723e4f;
    font-size:20px;
    margin-right: 1px;
}
.chat{
    position:fixed;
    top:85vh;
    left:90%;
    

}
@media screen  and (min-width:0px) and (max-width:400px ){
    .storeButtonCon{
        width:100%;
        display:flex;
        text-align:'center';justify-content:space-around;
        margin-top:5%;
        
    }
    .appleButton{
        margin-top:15px;
        margin-bottom:20px;
        margin-right:2px;
        margin-left:5px;
        width:40%;


    }
    .testimony{
        display:flex;
        flex-direction: column;
        align-items: space-around;
    }
    /* footer section for mobile size*/
        .footer{
            display:column
        }
    
    
        .map{
            width:100%;
            text-align: center;
        }
        .contact{
            width:100%;
            height:50vh
        }
        
        .contact .input{
            margin-top:50px;
            display:flex;
            justify-content: center;
        }
        .contact .input input{
            width:230px;
            height:5vh;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        
        .contact .input button{
            height:6vh;
            width:100px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border:none;
            background-color:#723e4f;
    
        }
        .social{
            display:flex;
            justify-content:space-around;
            padding:50px;
            box-sizing: border-box;
            padding-bottom:5px;
    
        }
        
        .social:nth-of-type(2){
            
            padding:20px;
            padding-top:0px;
        }
        .wrapper{
            width:50px;
            height:50px;
            border:10px solid #723e4f;
            border-radius:50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .wrapper p{
            font-size:40px;
            font-weight: 900;
        }
        
        .biz,.twitter,.facebook{
            color:#723e4f;
    
    
        }
        .chat{
            position:fixed;
            top:85vh;
            left:80%;
            
        
        }
    
}

@media screen  and (min-width:401px ) and (max-width:700px ){
    .storeButtonCon{
        width:100%;
        display:flex;
        text-align:'center';
        margin-top:5%;
        justify-content: center;
        
        
    }
    .appleButton{
        margin:10px


    }
    .testimony{
        display:flex;
        flex-direction: column;
        align-items: space-around;
    }
    /* footer section for mobile size*/
    

    .map{
        width:100%;
        text-align: center;
        height:50vh;
        
    }
    .contact{
        width:100%;
        height:50vh
    }
    
    .contact .input{
        margin-top:50px;
        display:flex;
        justify-content: center;
    }
    .contact .input input{
        width:230px;
        height:5vh;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .contact .input button{
        height:6vh;
        width:100px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border:none;
        background-color:#723e4f;

    }
    .social{
        display:flex;
        justify-content:space-around;
        padding:50px;
        box-sizing: border-box;
        padding-bottom:5px;

    }
    
    .social:nth-of-type(2){
        
        padding:20px;
        padding-top:0px;
    }
    .wrapper{
        width:50px;
        height:50px;
        border:10px solid #723e4f;
        border-radius:50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .wrapper p{
        font-size:40px;
        font-weight: 900;
    }
    
    .biz,.twitter,.facebook{
        color:#723e4f;


    }
    .chat{
        position:fixed;
        top:85vh;
        left:80%;
        
    
    }
  
}

@media screen  and (min-width:701px ){
    .storeButtonCon{
        width:100%;
        display:flex;
        text-align:'center';
        margin-top:5%;
        
        justify-content: center;
        
    }
    .appleButton{
        margin-top:15px;
        margin-bottom:20px;
        margin-right:2px;
        margin-left:5px;
        width:40%;


    }
    /* footer section for desktop */
    .footer{
    display:flex;
    justify-content: space-around;
    }
    .map{
        width:50%;
        text-align: center;
    }
    .contact{
        width:40%;
        height:50vh
    }
    
    .contact .input{
        margin-top:50px;
        display:flex;
        justify-content: center;
    }
    .contact .input input{
        width:230px;
        height:5vh;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .contact .input button{
        height:6vh;
        width:100px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border:none;
        background-color:#723e4f;

    }
    .social{
        display:flex;
        justify-content:space-around;
        padding:50px;
        box-sizing: border-box;
        padding-bottom:5px;

    }
    
    .social:nth-of-type(2){
        
        padding:20px;
        padding-top:0px;
    }
    .wrapper{
        width:50px;
        height:50px;
        border:10px solid #723e4f;
        border-radius:50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .wrapper p{
        font-size:40px;
        font-weight: 900;
    }
    
    .biz,.twitter,.facebook{
        color:#723e4f;


    }

 
    

}