.screen{
    background-color:rgb(247, 247, 247)
    
}

.formContainer{
    display:flex;
    justify-content: space-between;
    
}


.formLeft{
    width:40%;
    display: flex;
    padding-top:40px
    
}
.formCenter{
    width:50%

}
.formRight{
    width:0%
}
.animatedCoder{
    width:600px;
    height:600px;
    border-radius:600px
}

.inputCard{
    background-color:rgb(241, 241, 241);
    box-shadow:none;
    border-radius:5px;
}

.header{
    font-size:18px;
    font-weight:bold;font-family:monospace;
    width:90%;
    margin-right:auto;margin-left:auto;
    color:#962951;
    text-align:center;
    
}
.submitButton{
    width:100%;
    display:flex;justify-content:center;align-items:center;padding-top:12px;padding-bottom:12px;
    margin-top:15px;
    margin-bottom:15px;
    background-color:#D6528d;
    border-radius:10px;
}

@media(max-width:900px) {
    .formContainer{
        display:flex;
      
    }
    
    .formLeft{
        width:0%
    }
    .formCenter{
        width:95%;
        margin-left: auto;
        margin-right: auto;
    
    }
    .formLeft{
        width:0%;
        display:none
    }
    
}