.chatContainer{
    width:100%;
    height:100vh;
    margin:0px;
    padding:0px;
   
    background-color:#D65282;
    display: flex;
    align-items: flex-start;

}

#checks{
    display: none;
}
.profile{
    width:20%;
    background-color: #4b2935;
    height:60vh;
    padding-top: 10px;
    box-sizing: border-box;
   
    margin-right:2px;
    border-radius: 10px;
    text-align: center;
    
}

.chatContainer .chatscreen{
    width:50%;
    position: relative;
    border-radius: 20px;
    
    
}
.menuIcon{
    display:none
}
.chatContainer .chatscreen    .chatHeader{
    display: flex;
    height:15vh;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index:3;
    position:absolute;
    width:100%;
    top:0px
}
.chatContainer .chatscreen    .chatHeader .userpic{
    width:50px;
    height:50px;
    border:5px solid #D65282; 
    border-radius: 50px;
    
}
.chatheaderleft{
    display:flex;
    align-items: center;
    width:80%;
}


.clientcontainer  .clientname{
    color:#D65282;
    font-family: monospace;
    font-weight:900;
    font-size: 30px;

}
.clientname{
    color:#D65282;
    font-family: monospace;
    font-weight:900;
    font-size: 30px;
   }

  
    
.userpic{
    width:50px;
    height:50px;
    
    border:5px solid #D65282; 
    border-radius: 50px;
    }
    
.usersList{
    display:flex;
    border-bottom: 1px solid #643446;
    padding-top: 10px;
    padding-bottom: 10px;
}
    


.chatinputcontainer{
    
    height:10vh;
    position: absolute;
    top:90vh;
    display: flex;
    align-items: center;
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-around;
    background-color: white;
    border-radius: 5px;
    z-index: 2;


}

/* the main chat screen*/

.mainchat{
    z-index: 1;
    height:86.5vh;
    width:103%;
    margin-top:-10px;
    padding-top: 20px;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #4b2935;
    padding: 10px;
    box-sizing: border-box;
    
  

}

.checkbtn{
    font-size:31px;
    color:#D65282;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}


.smallscreenmenu{
   display: none;
}


/* for mobile screen */
@media(max-width:900px) {
    .chatContainer{
        width:100%;
        height:100vh;
        margin:0px;
        padding:0px;
        margin-top: -3%;
        display:block;
        background-color: #D65282;

        
    }
    
    .chatContainer .profile{
        display:none
    }
    .chatContainer .chatscreen {
        width: 100%;
        text-align: center;
    }
    .chatContainer .chatscreen    .chatHeader{
        display: flex;
        height:15vh;
        width:100%;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;
        align-items: center;
        background-color:white;
        z-index:3;
        position: fixed;
    }
   
    .chatheaderleft{
    
        display:flex;
        align-items: center;
        width:100%;

        
    }
    
    .menuIcon{
        display:block
    }
   
   .clientname{
    color:#D65282;
    font-family: monospace;
    font-weight:900;
    font-size: 30px;
   }
   
  
    
   .userpic{
    width:50px;
    height:50px;
    
    border:5px solid #D65282; 
    border-radius: 50px;
    }
    
    

    
    /* the main chat screen*/
    .mainchat{
        z-index: 1;
        height:86vh;
        width:100%;
        margin-top:-10px;
        padding:10px;
        padding-top: 20px;
        flex-direction: column;
        overflow-y: scroll;
        display: flex;

    }

    .usersList{
        display:flex;
        border-bottom: 1px solid #643446;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    

    #checks{
        display: none;
    }

    .smallscreenmenu{
        width:250px;
        height:40vh;
        position:absolute;
        background-color:rgb(206, 206, 206);
        top:95px;
        left:-100%;
        display: flex;
        transition:3s;
        border-radius: 10px;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        border-top-right-radius: 0%;
        text-align: center;
        flex-direction:column;
        justify-content: center;
     }
     /*
     .smallscreenmenu .li{
         width:50%;
         margin:5% auto 5% auto;
         display:flex;
         
        background-color:#4b2935;
         height:200px;
         border-radius: 5px;
         color:white;
         font-weight: 700;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         border:none;
        

     }
     */
    
    #checks:checked~.smallscreenmenu{
       
        left:1px;
        transition:3s;
        

    }
    
    
    
}
