.li{
    width:50%;
    margin:5% auto 5% auto;
    display:flex;
    border:none;
   background-color:#4b2935;
    height:200px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   

}


