.container{
    width:400px;
  
    display: flex;
    margin: 50px auto 50px auto;
    padding: 5px;
    border-radius:10px;
    justify-content: space-around;
}
/*
.container:hover{
    background-color: #d48da7;
    transition: 3s;
}

<TestimonialCard 
        text='There are always able to deliver..we hired these guys to build a web application for our agency' 
        imageUrl='./person2.jpg' 
        username='paul@gmail.com'
        
      />
      
      <TestimonialCard
          text='There are the best digital marketers i have worked with' 
          imageUrl='./person3.jpg' 
          username='koi@gmail.com'
      />
*/


.box1 p,.box3 p{
    font-size: 30px;
    background-color:#723e4f;
    height:50px;
    width:50px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}



.statement{
  width:60%;
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
.statement p{
    color:#723e4f;
    font-weight:bold;
    line-height: 20px;
    font-family:cursive;

}
.statement .paragraph{
    margin-bottom:15px;
}
.image{
    width:80px;
    height:80px;
    border-radius:80px;
    
}
.imageContainer{
    width:80px;
    height:70px;
    border-radius:70px;
    background-color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}
.username{
    font-size:25px;
    font-weight: bold;
}