
.cardContainer{
    display:block;
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
    padding:10px;
    box-sizing: border-box;
    
}





@media(min-width:901px){
    .cardContainer{
        
        display:flex;
        flex-direction: row;
        margin-top:20px;
        margin-bottom: 20px;
        text-align: center;
        padding:10px;
        box-sizing: border-box;
        justify-content: space-between;
        
        
        
    }

}

